<% if has_role?(:seller) %>
<li><%= link_to 'New Product', new_product_path, class: "btn btn-primary" %></li>
<li><%= link_to 'Total Revanue', orders_total_revanue_path, class: 'btn btn-primary'%></li>

<% end %>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <tbody>
    <% @products.each do |product| %>
      <div class="col" >
        <div class="card h-100">
          <div class="card text-white bg-dark mb-3" >
          <% if product.images.attached? %>
            <% (product.images.count-1...product.images.count).each do|image| %>
              <%= image_tag url_for(product.images[image]) , style:  "width:200px; display:block" , class: "img-fluid img-thumbnail" %>
            <% end %>
         <%end%>
          <div class="card-body">
            <h5 class="card-title">Title: <%= product.title %></h5>
            <h5 class="card-title">Price: <%= product.price %></h5>
            <% if has_role?(:seller) %>
              <a> <%= link_to 'Show', product, class: 'btn btn-info' %></a>
              <a><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning' %></a>
              <a> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></a>
            <% else %>
               <a> <%= link_to 'Show', product, class: 'btn btn-info' %></a>
               <% if user_signed_in? %> 
                   <%= form_for(:line_item, url: order_line_items_path(current_user.latest_order), local: true ) do |form| %>
                      <%= form.hidden_field :product_id, value: product.id %>
                      <a><%= form.number_field :quantity, value: 1, min: 1 %></a>
                      <a> <%= form.submit 'Add to cart' %></a>
                    <% end %>
                  <% else %>
                     <a> <%= link_to 'Add to Cart', new_user_session_path, class: 'btn btn-primary' %></a> 
                  <% end%>
            <% end %>
          </div>
        </div>
      </div>
      </div>
    <% end %>
 </tbody>
</div>
<br>
<%= will_paginate @products, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
