<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<strong>Images:</strong>
 <%if @product.images.attached?%>
   <% (0...@product.images.count).each do|image| %>
      <%= image_tag url_for(@product.images[image]) , style:  "width:200px; display:block" , class: "img-fluid img-thumbnail" %>
    <% end %>
  <%end%>
<% if user_signed_in? %>  
   <%= form_for(:line_item, url: order_line_items_path(current_user.latest_order), local: true ) do |form| %>
      <%= form.hidden_field :product_id, value: @product.id %>
      <a><%= form.number_field :quantity, value: 1, min: 1 %></a>
      <a> <%= form.submit 'Add to cart' %></a>
    <% end %>
<% else%>
     <li> <%= link_to 'Add to Cart', new_user_session_path, class: 'btn btn-primary'%></li>
<% end %>
<% if has_role?(:seller) %>
  <li><%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-warning' %> | <%= link_to 'Back', products_path, class: 'btn btn-primary' %></li>
<% else %>
  <li><%= link_to 'Back', products_path, class: 'btn btn-primary'%></li>
<% end %>
