<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<strong>Images:</strong>
 <%if @product.images.attached?%>
   <% (0...@product.images.count).each do|image| %>
  <%= image_tag url_for(@product.images[image]) , style:  "width:200px; display:block"%>
  <%#=link_to @product.images[image].filename, rails_blob_path(@product.images[image], disposition: "attachment") %>
  <% end %>

  <%end%>

<% if user_signed_in? %>  
<h2>add to cart </h2>
<%= render 'line_items/form' %>
             <td><%#= link_to 'Add to Cart', new_line_item_path %></td>
          <% else%>
             <td> <%= link_to 'Add to Cart', new_user_session_path %></td>
          <% end %>
<% if has_role?(:seller) %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% else %>
<%= link_to 'Back', products_path %>
<% end %>
