
<div class="row row-cols-1 row-cols-md-3 g-4">
  <tbody> 
   <% if user_signed_in? %>
     <% if current_user.line_items.present? %>
     <% current_user.line_items.each do |line_item| %>
        <div class="col">
          <div class="card h-100">
             <div class="card text-white bg-dark mb-3" >
               <% if line_item.product.images.attached? %>
                  <% (line_item.product.images.count-1...line_item.product.images.count).each do|image| %>
                    <%= image_tag url_for(line_item.product.images[image]) , style:  "width:200px; display:block" , class: "img-fluid img-thumbnail" %>
                  <% end %>
               <%end%>
                <div class="card-body">
                  <h5 class="card-title"> Title: <%= line_item.product.title %></h5>
                  <h5 class="card-title"> Quantity: <%= line_item.quantity %></h5>
                  <h5 class="card-title"> <span>Rs</span> <%= line_item.price %></h5>
                  <%= form_for([line_item.product,line_item]) do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :order_id, value: current_user.latest_order.id %>
                    <a><%= f.number_field :quantity, value: line_item.quantity.to_i, min: 1, class: 'form-control',placeholder: 'edit quantity'%></a>
                    <a><%= f.submit "Update Quantity", class: 'btn btn-primary mt-2' %></a>
                    <a><%= link_to 'Remove', [line_item.product, line_item] ,method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></a>
                   <% end %>
                </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>   
    <% end %> 
  </tbody>  
</div>
<% if user_signed_in?%>
  <% if current_user.line_items.present? %>
    <li><%= link_to 'Process to Buy', orders_select_payment_mode_path, class: 'btn btn-warning',
    style: "link-align:center"  %></li>
  <% end %>
<% end %>